body {
  background-color: #f8f9fa;
}

h1 {
  font-weight: bold;
}

.card {
  border-radius: 10px;
}

#container-agendamentos::-webkit-scrollbar {
  width: 8px;
}

#container-agendamentos::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
